lab1_house/.vs/
lab1_house/Debug/
lab1_house/x64/
lab2_image/.vs/
lab2_image/Debug/
lab2_image/x64/
lab3_fence/.vs/
lab3_fence/Debug/
lab3_fence/x64/
lab4_stars/.vs/
lab4_stars/Debug/
lab4_stars/x64/
lab5_arrays/.vs/
lab5_arrays/Debug/
lab5_arrays/x64/
lab6_arrvis/.vs/
lab6_arrvis/Debug/
lab6_arrvis/x64/
lab7_func/.vs/
lab7_func/Debug/
lab7_func/x64/
lab8_dynmem/.vs/
lab8_dynmem/Debug/
lab8_dynmem/x64/
lab9_2darray/.vs/
lab9_2darray/Debug/
lab9_2darray/x64/
lab10_maze/.vs/
lab10_maze/Debug/
lab10_maze/x64/
lab11_text/.vs/
lab11_text/Debug/
lab11_text/x64/
lab12_struct/.vs/
lab12_struct/Debug/
lab12_struct/x64/
lab13_string/.vs/
lab13_string/Debug/
lab13_string/x64/

